# dependencies
node_modules/

# build outputs
dist/
build/

# environment variables
.env
.env.*

# backend uploads (VERY IMPORTANT)
backend/uploads/

# logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# misc
coverage/